<a href="https://colab.research.google.com/github/MsNjeri-Wanjiru/MsNjeri-Wanjiru/blob/main/Practice_on_the_topic_5_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
upload = files.upload()

Saving gdaSet.csv to gdaSet.csv

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(r'gdaSet.csv')
df.head(10)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title,Age,Salary
0,1,1001,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,10/26/1945,Games developer,20.0,20000
1,2,1002,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,NaN,Phytotherapist,22.0,23000
2,3,1003,Kristine,Travis,Male,bthompson@example.com,277.609.7938,7/2/1992,Homeopath,24.0,26000
3,4,1004,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,8/3/2017,Market researcher,26.0,29000
4,5,1005,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,NaN,Veterinary surgeon,28.0,32000
5,6,1006,Erin,Day,Male,NaN,001-171-649-9856x5553,10/28/2015,Waste management officer,30.0,35000
6,7,1007,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,1/22/1989,Intelligence analyst,32.0,38000
7,8,1008,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,3/26/1924,Hydrogeologist,34.0,41000
8,9,1009,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,10/6/2018,Lawyer,36.0,44000
9,10,1010,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,9/20/1964,"Engineer, site",38.0,47000

In [ ]:
df = df.drop_duplicates()
df.head(10)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title,Age,Salary
0,1,1001,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,10/26/1945,Games developer,20.0,20000
1,2,1002,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,NaN,Phytotherapist,22.0,23000
2,3,1003,Kristine,Travis,Male,bthompson@example.com,277.609.7938,7/2/1992,Homeopath,24.0,26000
3,4,1004,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,8/3/2017,Market researcher,26.0,29000
4,5,1005,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,NaN,Veterinary surgeon,28.0,32000
5,6,1006,Erin,Day,Male,NaN,001-171-649-9856x5553,10/28/2015,Waste management officer,30.0,35000
6,7,1007,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,1/22/1989,Intelligence analyst,32.0,38000
7,8,1008,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,3/26/1924,Hydrogeologist,34.0,41000
8,9,1009,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,10/6/2018,Lawyer,36.0,44000
9,10,1010,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,9/20/1964,"Engineer, site",38.0,47000

In [ ]:
df = df.drop(columns =['Email'])
df

,Index,User Id,First Name,Last Name,Sex,Phone,Date of birth,Job Title,Age,Salary
0,1,1001,Shelby,Terrell,Male,001-084-906-7849x73518,10/26/1945,Games developer,20.0,20000
1,2,1002,Phillip,Summers,Female,214.112.6044x4913,NaN,Phytotherapist,22.0,23000
2,3,1003,Kristine,Travis,Male,277.609.7938,7/2/1992,Homeopath,24.0,26000
3,4,1004,Yesenia,Martinez,Male,584.094.6111,8/3/2017,Market researcher,26.0,29000
4,5,1005,Lori,Todd,Male,689-207-3558x7233,NaN,Veterinary surgeon,28.0,32000
...,...,...,...,...,...,...,...,...,...,...
95,96,1096,Dennis,Barnes,Female,001-095-524-2112x257,7/30/1954,Software engineer,74.0,305000
96,97,1097,Steve,Patterson,Female,001-865-478-5157,4/29/1932,Barrister,76.0,308000
97,98,1098,Wesley,Bray,Male,995-542-3004x76800,12/28/1994,Police officer,78.0,311000
98,99,1099,Summer,Oconnell,Female,001-273-685-6932x092,4/12/2012,Broadcast journalist,80.0,314000
99,100,1100,Mariah,Bernard,Male,(341)594-6554x44657,11/15/2016,IT sales professional,82.0,317000

In [ ]:
#modifying a column value
df['Job Title'] = df['Job Title'].astype(str).replace({'Games developer': 'IT Assistant'})
df

,Index,User Id,First Name,Last Name,Sex,Phone,Date of birth,Job Title,Age,Salary
0,1,1001,Shelby,Terrell,Male,001-084-906-7849x73518,10/26/1945,IT Assistant,20.0,20000
1,2,1002,Phillip,Summers,Female,214.112.6044x4913,NaN,Phytotherapist,22.0,23000
2,3,1003,Kristine,Travis,Male,277.609.7938,7/2/1992,Homeopath,24.0,26000
3,4,1004,Yesenia,Martinez,Male,584.094.6111,8/3/2017,Market researcher,26.0,29000
4,5,1005,Lori,Todd,Male,689-207-3558x7233,NaN,Veterinary surgeon,28.0,32000
...,...,...,...,...,...,...,...,...,...,...
95,96,1096,Dennis,Barnes,Female,001-095-524-2112x257,7/30/1954,Software engineer,74.0,305000
96,97,1097,Steve,Patterson,Female,001-865-478-5157,4/29/1932,Barrister,76.0,308000
97,98,1098,Wesley,Bray,Male,995-542-3004x76800,12/28/1994,Police officer,78.0,311000
98,99,1099,Summer,Oconnell,Female,001-273-685-6932x092,4/12/2012,Broadcast journalist,80.0,314000
99,100,1100,Mariah,Bernard,Male,(341)594-6554x44657,11/15/2016,IT sales professional,82.0,317000

In [ ]:
def generate_address(index):
  return f"1234 Nairobi st patricks{index}, AN 1234"
df['Adress'] = df.index.map(generate_address)
df

,Index,User Id,First Name,Last Name,Sex,Phone,Date of birth,Job Title,Age,Salary,Adress
0,1,1001,Shelby,Terrell,Male,001-084-906-7849x73518,10/26/1945,IT Assistant,20.0,20000,"1234 Nairobi st patricks0, AN 1234"
1,2,1002,Phillip,Summers,Female,214.112.6044x4913,NaN,Phytotherapist,22.0,23000,"1234 Nairobi st patricks1, AN 1234"
2,3,1003,Kristine,Travis,Male,277.609.7938,7/2/1992,Homeopath,24.0,26000,"1234 Nairobi st patricks2, AN 1234"
3,4,1004,Yesenia,Martinez,Male,584.094.6111,8/3/2017,Market researcher,26.0,29000,"1234 Nairobi st patricks3, AN 1234"
4,5,1005,Lori,Todd,Male,689-207-3558x7233,NaN,Veterinary surgeon,28.0,32000,"1234 Nairobi st patricks4, AN 1234"
...,...,...,...,...,...,...,...,...,...,...,...
95,96,1096,Dennis,Barnes,Female,001-095-524-2112x257,7/30/1954,Software engineer,74.0,305000,"1234 Nairobi st patricks95, AN 1234"
96,97,1097,Steve,Patterson,Female,001-865-478-5157,4/29/1932,Barrister,76.0,308000,"1234 Nairobi st patricks96, AN 1234"
97,98,1098,Wesley,Bray,Male,995-542-3004x76800,12/28/1994,Police officer,78.0,311000,"1234 Nairobi st patricks97, AN 1234"
98,99,1099,Summer,Oconnell,Female,001-273-685-6932x092,4/12/2012,Broadcast journalist,80.0,314000,"1234 Nairobi st patricks98, AN 1234"
99,100,1100,Mariah,Bernard,Male,(341)594-6554x44657,11/15/2016,IT sales professional,82.0,317000,"1234 Nairobi st patricks99, AN 1234"

In [ ]:
df = df.dropna()
df.head()
#fillna

,Index,User Id,First Name,Last Name,Sex,Phone,Date of birth,Job Title,Age,Salary,Adress
0,1,1001,Shelby,Terrell,Male,001-084-906-7849x73518,10/26/1945,IT Assistant,20.0,20000,"1234 Nairobi st patricks0, AN 1234"
2,3,1003,Kristine,Travis,Male,277.609.7938,7/2/1992,Homeopath,24.0,26000,"1234 Nairobi st patricks2, AN 1234"
3,4,1004,Yesenia,Martinez,Male,584.094.6111,8/3/2017,Market researcher,26.0,29000,"1234 Nairobi st patricks3, AN 1234"
5,6,1006,Erin,Day,Male,001-171-649-9856x5553,10/28/2015,Waste management officer,30.0,35000,"1234 Nairobi st patricks5, AN 1234"
6,7,1007,Katherine,Buck,Female,+1-773-151-6685x49162,1/22/1989,Intelligence analyst,32.0,38000,"1234 Nairobi st patricks6, AN 1234"

In [ ]:
#data sorting
df.describe()

            Index      User Id        Age         Salary
count   96.000000    96.000000  96.000000      96.000000
mean    51.937500  1051.937500  56.708333  172812.500000
std     28.589955    28.589955  19.613055   85769.864969
min      1.000000  1001.000000  20.000000   20000.000000
25%     27.750000  1027.750000  40.000000  100250.000000
50%     52.500000  1052.500000  56.000000  174500.000000
75%     76.250000  1076.250000  72.500000  245750.000000
max    100.000000  1100.000000  96.000000  317000.000000

In [ ]:
sorted_value = df.sort_values(by='Age', ascending=False)
sorted_value

,Index,User Id,First Name,Last Name,Sex,Phone,Date of birth,Job Title,Age,Salary,Adress
72,73,1073,Jean,Ritter,Female,(954)060-1066,8/6/1985,Financial trader,96.0,236000,"1234 Nairobi st patricks72, AN 1234"
71,72,1072,Tamara,Hull,Male,017.665.3744x7944,1/31/1933,English as a second language teacher,94.0,233000,"1234 Nairobi st patricks71, AN 1234"
70,71,1071,Ryan,Benton,Male,+1-695-557-9948x485,10/6/2020,Physiological scientist,92.0,230000,"1234 Nairobi st patricks70, AN 1234"
69,70,1070,Sandra,Wu,Male,+1-096-606-6454x067,4/28/1925,Warehouse manager,90.0,227000,"1234 Nairobi st patricks69, AN 1234"
68,69,1069,Frank,Pineda,Male,(035)961-5060x9182,3/10/1926,Hospital pharmacist,88.0,224000,"1234 Nairobi st patricks68, AN 1234"
...,...,...,...,...,...,...,...,...,...,...,...
37,38,1038,Gene,Rich,Female,+1-356-818-6604x89537,8/22/1946,"Surveyor, quantity",26.0,131000,"1234 Nairobi st patricks37, AN 1234"
2,3,1003,Kristine,Travis,Male,277.609.7938,7/2/1992,Homeopath,24.0,26000,"1234 Nairobi st patricks2, AN 1234"
36,37,1037,Leonard,Hurst,Male,941-038-0427x38800,3/13/1938,"Accountant, chartered management",24.0,128000,"1234 Nairobi st patricks36, AN 1234"
35,36,1036,Melody,Cook,Male,(826)792-7381,6/25/1963,Research scientist (life sciences),22.0,125000,"1234 Nairobi st patricks35, AN 1234"
0,1,1001,Shelby,Terrell,Male,001-084-906-7849x73518,10/26/1945,IT Assistant,20.0,20000,"1234 Nairobi st patricks0, AN 1234"

In [ ]:
#GROUPING
grouped_df = df.groupby('Sex')
grouped_df['Salary'].sum()

Sex
Female    9235000
Male      7355000
Name: Salary, dtype: int64

In [ ]:
#AGGREGATE FUNCTIONS
grouped_df[['Age', 'Salary']].sum()

           Age   Salary
Sex
Female  2886.0  9235000
Male    2558.0  7355000

In [ ]:
df.describe()

            Index      User Id        Age         Salary
count   96.000000    96.000000  96.000000      96.000000
mean    51.937500  1051.937500  56.708333  172812.500000
std     28.589955    28.589955  19.613055   85769.864969
min      1.000000  1001.000000  20.000000   20000.000000
25%     27.750000  1027.750000  40.000000  100250.000000
50%     52.500000  1052.500000  56.000000  174500.000000
75%     76.250000  1076.250000  72.500000  245750.000000
max    100.000000  1100.000000  96.000000  317000.000000

In [ ]:
top_salaries = df.nlargest(10, 'Salary')
for index, row in top_salaries.iterrows():
   print(f"UserId: {row['User Id']}, first Name: {row['First Name']},  Salary: {row['Salary']}")

UserId: 1100, first Name: Mariah,  Salary: 317000
UserId: 1099, first Name: Summer,  Salary: 314000
UserId: 1098, first Name: Wesley,  Salary: 311000
UserId: 1097, first Name: Steve,  Salary: 308000
UserId: 1096, first Name: Dennis,  Salary: 305000
UserId: 1095, first Name: Dillon,  Salary: 302000
UserId: 1094, first Name: Xavier,  Salary: 299000
UserId: 1093, first Name: Melody,  Salary: 296000
UserId: 1092, first Name: Jamie,  Salary: 293000
UserId: 1091, first Name: Alison,  Salary: 290000